<template>
    <div class="container">
        <div class="noteBox card selectable" :class="{selectedBox:isSelectedNote}" @click="toggleNote">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                    <span class="col-9">
                        <h5 class="">{{value.body}}</h5>
                    </span>
                        <span class="col-3 operation-buttons">
                        <div>
                            <button class="btn btn-operation btn-sm btn-primary" @click="viewDetails">
                                <font-awesome-icon icon="book-open"/>
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-operation btn-sm btn-danger" @click="openDeleteModal">
                                <font-awesome-icon icon="times-circle"/>
                            </button>
                        </div>
                    </span>
                    </div>
                </div>
            </div>
            <div class="card-footer"><p class="card-subtitle">created at {{value.createdAt}} - created by
                {{value.createdBy}}</p></div>
        </div>

        <new-item-modal v-if="isViewDetailOpen" :title=noteViewTitle :is-new-item=false @hide="closeViewDetails">
            <p>{{value.body}}</p>
        </new-item-modal>
        <delete-modal v-if="isDeleteModalOpen" @delete="deleteSelectedNote" @hide="closeDeleteNoteModal">
            <div>Deleted note: {{value.body}}</div>
        </delete-modal>

    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'
    import DeleteModal from '../modal/DeleteModal'
    import NewItemModal from "../modal/NewItemModal.vue"

    export default {
        name: "NoteBox.vue",
        components: {
            DeleteModal, NewItemModal
        },
        props: {
            item: {
                type: Object
            }
        },
        data() {
            return {
                noteViewTitle: "Note Detail",
                isDeleteModalOpen: false,
                isViewDetailOpen: false
            }
        },
        computed: {
            ...mapGetters('projectStore', ['getSelectedProject']),
            ...mapGetters('issueStore', ['getSelectedIssue']),
            ...mapGetters('noteStore', ['getSelectedNote']),
            isSelectedNote() {
                return this.getSelectedNote === this.item.id;
            },
            selectedProjectId() {
                return this.getSelectedProject
            },
            selectedIssueId() {
                return this.getSelectedIssue
            },
            value() {
                return this.item;
            }
        },
        methods: {
            ...mapActions('noteStore', ['selectNote', 'getUserNotes', 'deleteNote']),
            getNotes() {
                return this.getUserNotes();
            },
            toggleNote() {
                this.selectNote(this.item.id);
            },
            deleteSelectedNote() {
                const data = {
                    projectId: this.selectedProjectId,
                    issueId: this.selectedIssueId,
                    noteId: this.value.id
                };
                this.deleteNote(data).then(response => {
                    this.closeDeleteNoteModal();
                });
            },
            viewDetails() {
                this.isViewDetailOpen = true;
            },
            closeViewDetails() {
                this.isViewDetailOpen = false;
            },
            openDeleteModal() {
                this.isDeleteModalOpen = true;
            },
            closeDeleteNoteModal() {
                this.isDeleteModalOpen = false;
            }
        }
    }
</script>
<style scoped>

    .operation-buttons {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }

    .btn-operation {
        margin: 5px;
    }

</style>
