<template>

    <div id="noteContainer">
        <div class="box-header">
            <span>
                <button :disabled="isIssueSelected" class="btn btn-sm btn-success" @click="getProjectIssueNotes">
                    <font-awesome-icon icon="sync"/>
                </button>
            </span>
            <span class="smallDividerCls"></span>
            <span>
                <button :disabled="isIssueSelected" class="btn btn-sm btn-primary" @click="createIssueNote">
                    <font-awesome-icon icon="plus"/>
                </button>
            </span>
            <span class="smallDividerCls"></span>
            <span id="issues">
                Notes - Count: {{notesCount}}
            </span>
        </div>
        <note-editor v-if="modelOpen" @close="modalClosed"></note-editor>

        <div class="issue-boxes">
            <div class="noteBoxCls">
            <span class="singleIssue" v-for="note in notes">
                <note-box :item="note"></note-box>
            </span>
            </div>
        </div>
        <no-data-message v-if="showNoDataMessage" :message="'No notes available'"></no-data-message>
    </div>

</template>

<script>
    import NoteBox from "./NoteBox.vue"
    import NewItemModal from "../modal/NewItemModal.vue"
    import {mapActions, mapGetters} from 'vuex'
    import NoteEditor from "./NoteEditor";
    import NoDataMessage from "./../common/NoDataMessage"

    export default {
        name: "NoteContainer",
        components: {NoteEditor, NoteBox, NewItemModal, NoDataMessage},
        data() {
            return {
                modelOpen: false
            }
        },
        computed: {
            ...mapGetters('projectStore', ['getSelectedProject']),
            ...mapGetters('issueStore', ['getSelectedIssue']),
            ...mapGetters('noteStore', ['getNotes']),
            isModelOpen() {
                return this.modelOpen;
            },
            selectedProject() {
                return this.getSelectedProject;
            },
            selectedIssue() {
                return this.getSelectedIssue;
            },
            isIssueSelected() {
                return this.getSelectedIssue === 0;
            },
            notesCount() {
                return this.notes.length;
            },
            notes() {
                return this.getNotes.filter(note => note.issueId === this.selectedIssue);
            },
            showNoDataMessage() {
                return this.notes.length <= 0;
            }
        },
        methods: {
            ...mapActions('noteStore', ['getUserNotes']),
            getProjectIssueNotes() {
                this.getUserNotes();
            },
            createIssueNote() {
                this.modelOpen = !this.modelOpen;
            },
            modalClosed() {
                this.modelOpen = false;
            }
        }
    }
</script>

<style scoped>

</style>
