<template>
    <div class="noteEditorCls">
        <new-item-modal :title="newNoteTitle" @save="saveNote" @hide="editorClosed">

            <form>
                <div class="form-group">
                    <label class="col-form-label">Related Issue: {{selectedIssueObject}}</label>
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Note Body:</label>
                    <textarea class="form-control" id="message-text" v-model="issueDescription"></textarea>
                </div>
            </form>

        </new-item-modal>
    </div>
</template>

<script>
    import NewItemModal from "../modal/NewItemModal";
    import {mapActions, mapGetters} from 'vuex'

    export default {
        name: "NoteEditor",
        components: {NewItemModal},
        data() {
            return {
                newNoteTitle: "Enter your note",
                issueDescription: ""
            }
        },
        computed: {
            ...mapGetters('issueStore', ['getSelectedIssue', 'getSelectedIssueObject']),
            ...mapGetters('projectStore', ['getSelectedProject']),
            selectedIssue() {
                return this.getSelectedIssue;
            },
            selectedProject() {
                return this.getSelectedProject;
            },
            selectedIssueObject(){
                return this.getSelectedIssueObject;
            }
        },
        methods: {
            ...mapActions('noteStore', ['createNote']),
            editorClosed() {
                this.$emit('close');
            },
            editorSaved() {
                this.$emit('save');
            },
            saveNote() {
                const newNote = {
                    projectId: this.getSelectedProject,
                    issueId: this.getSelectedIssue,
                    description: this.issueDescription
                };
                this.createNote(newNote).then(response=>{
                    this.editorClosed()
                })
            }
        }
    }
</script>
