<template>
    <div id="projectContainer">
        <div class="box-header">
            <span>
                <button class="btn btn-sm btn-success" @click="loadUserProjects">
                    <font-awesome-icon icon="sync"/>
                </button>
            </span>
            <span>
                Projects - Count: {{getProjectCount}}
            </span>
        </div>

        <div class="project-boxes-cls">
            <span class="singleProject" v-for="project in getProjects">
                    <project-box :item="project"></project-box>
            </span>
        </div>

        <no-data-message v-if="showNoDataMessage" :message="'No projects available'"></no-data-message>
    </div>
</template>

<script>
    import ProjectBox from "./ProjectBox";
    import {mapActions} from "vuex";
    import {mapGetters} from "vuex";
    import NoDataMessage from './../common/NoDataMessage'

    export default {
        name: "ProjectContainer",
        components: {ProjectBox, NoDataMessage},
        props: {
            projects: {
                type: Array,
                required: false
            }
        },
        created() {
        },
        computed: {
            ...mapGetters('projectStore', ['getAllProjects']),
            ...mapGetters('authenticationStore', ['getAuthenticatedUser', 'getAuthenticatedUserId']),
            getProjectCount() {
                return this.getProjects.length;
            },
            getProjects() {
                return this.getAllProjects;
            },
            showNoDataMessage() {
                return this.getProjectCount <= 0;
            },
            getUserId() {
                return this.getAuthenticatedUserId;
            }
        },
        data() {
            return {
                reloadBtnTxt: "Reload Projects"
            }
        },
        methods: {
            ...mapActions('projectStore', ['getUserProjects']),
            loadUserProjects() {
                return this.getUserProjects({userId: this.getUserId});
            }
        }
    }
</script>

<style scoped>
</style>
