<template>
    <div class="container">
        <div class="card selectable" style="width: 14rem;" :class="{selectedBox:isSelectedProject}"
             @click="toggleProject">
            <div class="card-body">
                <h5 class="card-title"><a class="iidCls">#{{value.projectId}}</a>- {{value.name}}</h5>
                <p class="card-text">{{value.description}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "project-box",
        props: {
            item: {
                type: Object
            }
        },
        computed: {
            ...mapGetters('projectStore', ['getSelectedProject']),
            projects() {
                console.info("Projects :", this.project.name);
                return this.project;
            },
            getProject() {
                return this.getSelectedProject;
            },
            isSelectedProject() {
                return this.getSelectedProject === this.item.projectId;
            }
        },
        data() {
            return {
                value: {...this.item}
            }
        },
        methods: {
            ...mapActions('projectStore', ['selectProject']),
            ...mapActions('issueStore', ['getIssues', 'selectIssue']),
            toggleProject() {
                const data = {
                    projectId:this.value.projectId
                };

                this.selectProject(data.projectId).then(
                    //TODO load project issues
                    this.getIssues(data)
                )
            }
        }
    }
</script>

<style>
    .selectable {
        cursor: pointer;
    }

    .selectable:hover {
        background-color: #e4ffde;
        transition: 1s ease;
    }
    .card-text{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

