<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div>
                            <div class="health-status" :class="{danger:!gitlabHealth, success:gitlabHealth}">
                                {{healthMessage}}
                            </div>
                        </div>
                        Web socket state: {{getServerConnection}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "GitlabHealthCheck",
        data() {
            return {
                message: "Waiting result",
                connected: false,
                isGitlabWorking: false
            };
        },
        computed: {
            ...mapGetters('websocketStore', ['getGitlabHealth', 'getGitlabServerConnection']),
            gitlabHealth() {
                return this.getGitlabHealth;
            },
            healthMessage() {
                return this.getGitlabHealth ? "Connection established" : "Connection failed";
            },
            getServerConnection() {
                return this.getGitlabServerConnection ? "Connected" : "Disconnected";
            }
        },
        methods: {}
    };
</script>

<style scoped>
    .health-status {
        padding: 8px;
        color: white;
    }

    .danger {
        background-color: #dc3545;
    }

    .success {
        background-color: #28a745;
    }
</style>
