<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid">
                        <div><span>http://localhost:8090/gitlab-reporter-websocket </span> connection:
                            <button class="btn btn-sm btn-success" type="submit" :disabled="connected === true"
                                    @click.prevent="connect">Connect
                            </button>
                            <button class="btn btn-sm btn-danger" type="submit" :disabled="connected === false"
                                    @click.prevent="disconnect">Disconnect
                            </button>
                        </div>
                        <div> Web socket state: {{status}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SockJS from "sockjs-client";
    import Stomp from "webstomp-client";

    export default {
        name: "ReporterSocketCheck",
        data() {
            return {
                received_messages: [],
                send_message: null,
                connected: false,
                status: "disconnected"
            };
        },
        methods: {
            connect() {
                this.socket = new SockJS("http://localhost:8090/gitlab-reporter-websocket");
                this.stompClient = Stomp.over(this.socket);
                this.stompClient.debug(null);
                this.stompClient.connect(
                    {},
                    frame => {
                        this.status = frame;
                        this.connected = true;
                        this.stompClient.subscribe("/webhook/issue", tick => {
                            this.received_messages.push(tick.body);
                        });
                        this.stompClient.subscribe("/webhook/note", tick => {
                            this.received_messages.push(tick.body);
                        });
                    },
                    error => {
                        this.connected = false;
                    }
                );
            },
            disconnect() {
                if (this.stompClient) {
                    this.stompClient.disconnect();
                }
                this.connected = false;
                this.status = "disconnected";
                this.received_messages = [];
            },
            tickleConnection() {
                this.connected ? this.disconnect() : this.connect();
            }
        },
        mounted() {
            this.connect();
        }
    };
</script>

<style scoped>

</style>
