<template>
    <div>
        <div class="container">
            <div class="row">
                <span class="user-avatar-container"><img :src=avatarUrl class="user-avatar-cls"/></span>
                <span class="user-names-cls">
                    <div>User Name: {{userName}}</div>
                    <div>Full Name: {{userFullName}}</div>
                    <div>Bio: {{bio}}</div>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "user-detail",
        computed: {
            ...mapGetters('authenticationStore', ['getAuthenticatedUser']),
            getUser() {
                return this.getAuthenticatedUser;
            },
            userName() {
                return this.getUser.userName;
            },
            userFullName() {
                return this.getUser.fullName;
            },
            bio() {
                return this.getUser.bio;
            },
            avatarUrl() {
                return this.getUser.avatarUrl;
            }
        }
    }
</script>

<style scoped>
    .user-avatar-container{
        display: flex;
        align-items: center;
        padding-right: 15px;
    }
    .user-avatar-cls {
        width: 30px;
        height: 30px;
    }
    .user-names-cls{
        font-size: 14px;
    }
</style>
