<template>
    <div class="home">

        <project-container></project-container>

        <div class="spaceCls"></div>

        <div class="container-fluid">
            <div class="row">
                <issue-container class="issuesAndNotes col"></issue-container>
                <div class="dividerCls"></div>
                <note-container class="issuesAndNotes col"></note-container>
            </div>
        </div>
        <br>
    </div>
</template>

<script>
    // @ is an alias to /src
    import UserDetail from '@/components/user/UserDetail.vue'
    import {mapActions, mapGetters} from 'vuex';
    import ProjectContainer from "@/components/project/ProjectContainer.vue";
    import IssueContainer from "@/components/issue/IssueContainer.vue";
    import NoteContainer from '@/components/note/NoteContainer.vue'

    export default {
        name: 'home',
        components: {
            UserDetail,
            ProjectContainer,
            IssueContainer,
            NoteContainer
        },
        created() {
            //TODO 1- get user info
            //TODO 2- get user projects
            //TODO 3- get user default project issues
            this.projects = [{name: "project1"}];
            this.initialize();
        },
        computed: {
            ...mapGetters('authenticationStore', ['getAuthenticatedUser', 'getAuthenticatedUserId']),
            getUserId() {
                return this.getAuthenticatedUserId;
            },
            getUser(){
                return this.getAuthenticatedUser;
            }
        },
        data() {
            return {
                projects: [{name: "project1"}],
                debugMode: false
            }
        },
        methods: {
            ...mapActions('authenticationStore',['login']),
            ...mapActions('projectStore', ['getUserProjects']),
            ...mapActions('issueStore', ['getIssues']),
            ...mapActions('websocketStore', ['connectSocket']),
            initialize() {
                if(this.debugMode){
                    this.login({userName:'developer_1', password:'111'});
                }else{
                    const user = {
                        userId: this.getUserId
                    };
                    return this.getUserProjects(user);
                }

                //connect web socket end points
                this.connectSocket();
            }
        }
    }
</script>

<style>
    .home {
        padding: 10px;
    }

    .issuesAndNotesContainers {
        display: flex;
    }

    .issuesAndNotes {
        border-radius: 5px;
        padding: 10px;
        display: block;
        flex-grow: 1;
        /*max-height: 400px;*/
        overflow: auto;
    }

    #projectContainer {
        border-radius: 5px;
        padding: 10px;
        display: block;
    }

    .project-boxes-cls {
        display: flex;
        overflow-y: auto;
        padding-top: 5px;
    }

    .singleProject {
        display: block;
    }

    .issueBox, .noteBox {
        margin-bottom: 5px;
    }

    .issue-boxes {
        padding-bottom: 10px;
        margin-bottom: 5px;
        max-height: 400px;
        overflow: auto;
    }

    .box-header {
        border-bottom: 2px solid;
        border-color: rgba(0, 0, 0, 0.45);
        padding-bottom: 5px;
    }

    .issue-boxes {
        padding-top: 10px;
    }

    .selectable {
        cursor: pointer;
    }

    .selectable:hover {
        background-color: #e4ffde;
        transition: 1s ease;
    }

    .spaceCls {
        margin: 10px;
    }

    .dividerCls {
        margin: 10px;
    }

    .smallDividerCls {
        margin: 5px;
    }

    .selectedBox {
        background: #f2ffe0 !important;
        border-color: gray !important;
    }

    .iidCls {
        color: blue !important;
    }

    .boxDescription {
        color: black !important;
    }

    .card-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .web-socket-item{
        border-bottom: 2px solid ;
    }
</style>
