<template>
    <div>
        <!--
        Login Page
        <button class="alert-primary" @click="doLogin">Login</button>
        -->
        <login-modal></login-modal>

    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import LoginModal from '../../components/modal/LoginModal'

    export default {
        name: "login",
        components:{LoginModal},
        methods: {
            ...mapActions("authenticationStore", ["login"]),
            doLogin() {
                return this.login();
            }
        }
    }
</script>

