<template>
    <div id="settingsContainer">

        <settings-component></settings-component>

    </div>
</template>s

<script>
    import SettingsComponent from '@/components/settings/SettingsContainer.vue';
    import DataTable from 'vue-data-tables'

    export default {
        name: "Settings",
        components: {
            SettingsComponent
        },
        data() {
            return {
            }
        }
    }
</script>

<style scoped>

</style>
