<template>
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-dialog modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure to close selected issue?</h5>
                    <button class="btn btn-sm btn-danger" @click="closeModal">
                        <font-awesome-icon icon="window-close"/>
                    </button>
                </div>

                <div class="modal-body">
                    <slot></slot>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            @click="closeModal">Cancel
                    </button>
                    <button type="button" class="btn btn-danger"
                            @click="closeOperation">Close Issue
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CloseModal",
        props:{

        },
        computed:{
        },
        methods: {
            closeModal() {
                this.$emit('hide');
            },
            closeOperation() {
                this.$emit('close');
            }
        }
    }
</script>
