<template>
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-dialog modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure to delete selected item?</h5>
                    <button class="btn btn-sm btn-danger" @click="closeModal">
                        <font-awesome-icon icon="window-close"/>
                    </button>
                </div>

                <div class="modal-body">
                    <slot></slot>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            @click="closeModal">Close
                    </button>
                    <button type="button" class="btn btn-danger"
                            @click="deleteOperation">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "DeleteModal",
        props:{

        },
        computed:{
        },
        methods: {
            closeModal() {
                this.$emit('hide');
            },
            deleteOperation() {
                this.$emit('delete');
            }
        }
    }
</script>
