<template>
    <div id="loginModal" class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Register to Gitlab Reporter</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <input type="userName" class="form-control" placeholder="User Name" required autofocus
                                       v-model="userName">
                            </div>
                            <div style="margin: 10px"></div>
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                       required
                                       v-model="password">
                            </div>
                            <div style="margin: 10px"></div>
                            <button class="btn btn-lg btn-login btn-block text-uppercase" type="button"
                                    @click="doLogin">
                                Login
                            </button>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-gitlab btn-block text-uppercase" type="button"
                                    @click="signInWithGitlab">
                                Sign in with Gitlab
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import {mapGetters} from 'vuex';

    export default {
        name: "LoginModal",
        methods: {
            ...mapActions("authenticationStore", ["login", "gitlabSignIn"]),
            doLogin() {
                const params = {
                    userName: this.userName,
                    password: this.password
                };
                return this.login(params).then(() => {
                        this.$router.push('/')
                    }
                );
            },
            signInWithGitlab() {
                return this.gitlabSignIn();
            }
        },
        created() {

        },
        data() {
            return {
                userName: 'developer_1',
                password: '111'
            }
        }
    }
</script>

<style scoped>

    .card-signin {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }

    .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .card-signin .card-body {
        padding: 2rem;
    }

    .form-signin {
        width: 100%;
    }

    .form-signin .btn {
        font-size: 80%;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
        cursor: pointer;
    }

    .form-signin .btn:hover {
        opacity: 0.85;
    }

    .btn-gitlab {
        color: white;
        background-color: #fc6d26;
    }

    .btn-login {
        color: white;
        background-color: #57a7fc;
    }
</style>
