<template>
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-dialog modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{getTitle}}</h5>
                    <button class="btn btn-sm btn-danger" @click="closeModal">
                        <font-awesome-icon icon="window-close"/>
                    </button>
                </div>

                <div class="modal-body">
                    <slot></slot>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            @click="closeModal">Close
                    </button>
                    <button v-if="isNewItem" type="button" class="btn btn-primary"
                            @click="saveOperation">Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NewItemModal",
        props:{
            title:{
                type: String,
                required: true
            },
            isNewItem:{
                type: Boolean,
                required: false,
                default: true
            }
        },
        computed:{
            getTitle(){
                return this.title;
            }
        },
        methods: {
            closeModal() {
                this.$emit('hide');
            },
            saveOperation() {
                this.$emit('save');
            }
        }
    }
</script>
<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
</style>
