<template>
    <div class="no-data-message-cls">
        <i>
            {{message}}
        </i>
    </div>
</template>

<script>
    export default {
        name: "NoDataMessage",
        props: {
            message: {
                type: String,
                required: true
            }
        }
    }
</script>

<style scoped>
    .no-data-message-cls {
        font-size: 17px;
        text-align: center;
        color: #6c757d;
    }

</style>
