<template>
    <div class="container">
        <div class="issueBox card" :class="{selectedBox:isSelectedIssue,failedIssue:isFailed, selectable:!isFailed}"
             v-on="{click : !isFailed ? toggleIssue : ()=>{} }">
            <div class="card-header" v-if="isFailed">Cannot Sent to Gitlab.</div>
            <div class="container card-header">
                <div class="row">
                    <span class="col-9">
                        <h5 class="boxDescription"><a class="iidCls ">#{{value.iid}}</a> - {{value.title}}</h5>
                    </span>
                    <span class="col-3 operation-buttons">
                        <div>
                            <button class="btn btn-operation btn-sm btn-primary" @click="viewDetails">
                                <font-awesome-icon icon="book-open"/>
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-operation btn-sm btn-warning" @click="openCloseModal">
                                <font-awesome-icon icon="book-dead"/>
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-operation btn-sm btn-danger" @click="openDeleteModal">
                                <font-awesome-icon icon="times-circle"/>
                            </button>
                        </div>
                    </span>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <p class="card-text boxDescription">{{value.description}}</p>
                </div>
            </div>
        </div>
        <new-item-modal v-if="openViewDetails" :is-new-item=false @hide="closeViewDetail" :title=getSelectedIssueTitle>
            <span>
                <div><a :href="value.webUrl" target="_blank"> Open this issue at Gitlab</a></div>
                <div><p class="card-text boxDescription">{{value.description}}</p></div>
            </span>
        </new-item-modal>
        <delete-modal v-if="isDeleteModalOpen" @delete="deleteSelectedIssue" @hide="closeDeleteIssueModal">
            <div>Deleted issue: {{this.getSelectedIssueTitle}}</div>
        </delete-modal>
        <close-modal v-if="isCloseModalOpen" @close="closeSelectedIssue" @hide="hideCloseModal">
            <div>Closed issue: {{this.getSelectedIssueTitle}}</div>
        </close-modal>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'
    import NewItemModal from "../modal/NewItemModal";
    import DeleteModal from "../modal/DeleteModal";
    import CloseModal from "../modal/CloseModal";

    export default {
        name: "issue",
        components: {CloseModal, DeleteModal, NewItemModal},
        props: {
            item: {
                type: Object
            }
        },
        computed: {
            ...mapGetters('issueStore', ['getSelectedIssue']),
            ...mapGetters('authenticationStore', ['getAuthenticatedUserId']),
            isSelectedIssue() {
                return this.getSelectedIssue === this.item.iid;
            },
            selectedIssue() {
                return this.getSelectedIssue;
            },
            getSelectedIssueTitle() {
                return `#${this.value.iid} - ${this.value.title}`;
            },
            isFailed() {
                return this.item.failedToSent;
            },
            userId() {
                return this.getAuthenticatedUserId;
            }
        },
        data() {
            return {
                value: {...this.item},
                openViewDetails: false,
                isDeleteModalOpen: false,
                isCloseModalOpen: false
            }
        },
        methods: {
            ...mapActions('issueStore', ['selectIssue', 'deleteIssue', 'closeIssue']),
            ...mapActions('noteStore', ['getUserNotes']),
            toggleIssue() {
                this.selectIssue(this.value.iid).then(
                    //TODO open this
                    this.getUserNotes()
                );
            },
            deleteSelectedIssue() {
                //TODO Go to service to delete issue
                const issue = {
                    reporterId: this.item.reporterId,
                    issueId: this.item.iid,
                    projectId: this.item.projectId,
                    userId: this.userId
                };
                this.deleteIssue(issue).then(response => {
                    this.closeDeleteIssueModal()
                });
            },
            closeSelectedIssue() {
                //TODO Go to service to close issue
                const issue = {
                    reporterId: this.item.reporterId,
                    issueId: this.item.iid,
                    projectId: this.item.projectId,
                    userId: this.userId
                };
                this.closeIssue(issue).then(response => {
                    this.hideCloseModal()
                });
            },
            viewDetails() {
                this.openViewDetails = true;
            },
            closeViewDetail() {
                this.openViewDetails = false;
            },
            openDeleteModal() {
                this.isDeleteModalOpen = true;
            },
            closeDeleteIssueModal() {
                this.isDeleteModalOpen = false;
            },
            openCloseModal() {
                this.isCloseModalOpen = true;
            },
            hideCloseModal() {
                this.isCloseModalOpen = false;
            }
        }
    }
</script>

<style scoped>
    .card-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .operation-buttons {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }

    .failedIssue {
        background: #cecece;
    }

    .card-body {
        padding-top: 0px;
    }

    .btn-operation {
        margin: 5px;
    }
</style>

