<template>
    <div id="issuesContainer">
        <div class="box-header">
            <span>
                <button :disabled="isProjectSelected" class="btn btn-sm btn-success" @click="getProjectIssues">
                    <font-awesome-icon icon="sync"/>
                </button>
            </span>
            <span class="smallDividerCls"></span>
            <span>
                <button :disabled="isProjectSelected" class="btn btn-sm btn-primary" @click="createNewProjectIssue">
                    <font-awesome-icon icon="plus"/>
                </button>
            </span>
            <span class="smallDividerCls"></span>
            <span id="issues">
                Issues - Count: {{issuesCount}}
            </span>
        </div>
        <issue-editor v-if="modelOpen" @close="modalClosed"></issue-editor>

        <div class="issue-boxes">
            <span class="singleIssue" v-for="issue in issues" :key="issue.id">
                    <issue-box :item="issue"></issue-box>
            </span>
        </div>
        <no-data-message v-if="showNoDataMessage" :message="'No issues available'"></no-data-message>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    import {mapGetters} from 'vuex'
    import IssueBox from './IssueBox.vue'
    import IssueEditor from "./IssueEditor"
    import NoDataMessage from './../common/NoDataMessage'

    export default {
        name: "IssueContainer",
        components: {IssueBox, IssueEditor, NoDataMessage},
        data() {
            return {modelOpen: false}
        },
        computed: {
            ...mapGetters('issueStore', ['getAllIssues']),
            ...mapGetters('projectStore', ['getSelectedProject']),
            issuesCount() {
                return this.issues.length
            },
            issues() {
                return this.getAllIssues.filter(issue => issue.projectId === this.currentProject);
            },
            currentProject() {
                return this.getSelectedProject;
            },
            isProjectSelected() {
                return this.getSelectedProject === 0;
            },
            showNoDataMessage() {
                return this.issues.length <= 0;
            }
        },
        methods: {
            ...mapActions('issueStore', ['getIssues']),
            getProjectIssues() {
                this.getIssues({projectId: this.currentProject});
            },
            createNewProjectIssue() {
                this.modelOpen = !this.modelOpen;
            },
            modalClosed() {
                this.modelOpen = false;
            }
        }
    }
</script>

<style scoped>

</style>
