<template>
    <div class="issue-editor-cls">
        <new-item-modal :title="editorTitle" @save="saveIssue" @hide="editorClosed">

            <form>
                <div class="form-group">
                    <label class="col-form-label">Project: #{{selectedProjectObject.projectId}}- {{selectedProjectObject.name}}</label>
                </div>
                <div class="form-group">
                    <label for="title-text" class="col-form-label">Title:</label>
                    <textarea class="form-control" id="title-text" v-model="issueTitle"></textarea>
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Description:</label>
                    <textarea class="form-control" id="message-text" v-model="issueDescription"></textarea>
                </div>
            </form>

        </new-item-modal>
    </div>
</template>

<script>
    import NewItemModal from './../modal/NewItemModal'
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "IssueEditor",
        components: {NewItemModal},
        data() {
            return {
                editorTitle: "Issue Editor",
                projectName: "This will be replaced by project name",
                issueDescription: "",
                issueTitle: ""
            }
        },
        computed: {
            ...mapGetters('projectStore', ['getSelectedProject', 'getSelectedProjectObject']),
            ...mapGetters('authenticationStore', ['getAuthenticatedUserId']),
            selectedProject() {
                return this.getSelectedProject;
            },
            selectedProjectObject(){
                return this.getSelectedProjectObject;
            },
            userId(){
                return this.getAuthenticatedUserId;
            }
        },
        methods: {
            ...mapActions('issueStore', ['createIssue']),
            editorClosed() {
                this.$emit('close');
            },
            editorSaved() {
                this.$emit('save');
            },
            saveIssue() {
                const newIssue = {
                    projectId: this.getSelectedProject,
                    title: this.issueTitle,
                    description: this.issueDescription,
                    userId: this.userId
                };
                this.createIssue(newIssue).then(success=> {
                    this.editorClosed();
                });
            }
        }
    }
</script>

<style scoped>

</style>
