<template>
    <div id="reporterApp">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" to="/">GitLab Reporter</a> |

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li v-if="isAuth" class="nav-item">
                        <router-link class="nav-link" to="/">Home<span
                                class="sr-only">(current)</span></router-link>
                    </li>
                    <li v-if="isAuth" class="nav-item">
                        <a class="user-detail-btn nav-link" @click="toggleUser">User</a>
                    </li>
                    <li v-if="isAuth" class="nav-item">
                        <router-link class="nav-link" to="/settings">Settings</router-link>
                    </li>
                    <li v-if="isAuth" class="nav-item">
                        <router-link class="nav-link" to="/about">About Project</router-link>
                    </li>
                    <li v-if="!isAuth" class="nav-item">
                        <router-link class="nav-link" to="/login">Log In</router-link>
                    </li>
                    <li v-if="isAuth" class="nav-item">
                        <a class="logOutBtnCls nav-link" @click="doLogOut">Log Out</a>
                    </li>
                </ul>
                <div v-if="showUserDetail" class="user-detail-cls">
                    <user-details></user-details>
                </div>
            </div>
        </nav>
        <router-view/>
    </div>
</template>
<script>
    import {mapActions} from 'vuex'
    import UserDetails from './components/user/UserDetail'

    export default {
        components: {UserDetails},
        data() {
            return {
                showUserDetail: false,
            }
        },
        computed: {
            getRoutes() {
                return "";//Router.routes;
            },
            isAuth() {
                return this.$store.getters["authenticationStore/isAuthenticated"];
            }
        },
        methods: {
            ...mapActions('authenticationStore', ['logout']),
            doLogOut() {
                this.logout();
                this.showUserDetail=false;
            },
            toggleUser() {
                this.showUserDetail = !this.showUserDetail;
            }
        }
    }
</script>
<style scoped>
    .active-class-r {
        color: red;
    }

    .logOutBtnCls {
        color: #db1c1f !important;
        cursor: pointer;
    }
    .user-detail-btn {
        cursor: pointer;
    }

    .logOutBtnCls:hover {
        color: #c6171a !important;
        cursor: pointer;
    }

    .user-detail-cls{
        position: absolute;
        top: 50px;
        left: 235px;
        background: #f8f9fa;
        border: 2px solid;
        border-radius: 4px;
        padding: 10px;
        z-index: 2;
    }
</style>
