<template>
    <div>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-12 card-header"><h5><b>Integration status</b></h5></div>
            </div>
            <div class="row status-row">
                <div class="col-3">Gitlab Reporter Web Socket</div>
                <div class="col-9">
                    <web-socket-container></web-socket-container>
                </div>
            </div>

            <div class="row status-row">
                <div class="col-3">Integrated Gitlab Server</div>
                <div class="col-9">
                    <gitlab-health-check></gitlab-health-check>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    import WebSocketContainer from "@/components/websocket/ReporterSocketCheck.vue";
    import GitlabHealthCheck from "../websocket/GitlabHealthCheck";

    export default {
        name: "settings-component",
        components: {GitlabHealthCheck, WebSocketContainer},
        data() {
            return {
                data: "Settings component is here"
            }
        }
    }
</script>
<style>
    .status-row {
        padding: 15px 0 15px 0;
        border-bottom: 1px solid;
    }
</style>
